@import url("https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer 10+ */
}

*::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}

body {
  margin: 0;
  padding: 0;
  background-color: rgb(15, 15, 15);
  overflow-x: hidden;
}
